<mat-card>
  <mat-card-content>
    <ag-grid-angular
      #ytGrid
      (gridReady)="fitColumns()"
      (rowSelected)="onRowSelected($event)"
      [columnDefs]="isActiveSelection ? dtGrid.dtSelectableColumnDefs : dtGrid.dtColumnDefs"
      [columnTypes]="dtGrid.dtColumnTypes"
      [domLayout]="'autoHeight'"
      [rowData]="items"
      [rowHeight]="90 + (17 * 2)"
      [rowSelection]="'multiple'"
      [allowContextMenuWithControlKey]="true"
      [getContextMenuItems]="dtGrid.getContextMenuItems"
      [enableRangeSelection]="true"
      class="ag-theme-material"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>

