<div class="main-grid-container">
  <app-yt-grid-toolbar (toggleSelection)="toggleSelection($event)"
                       [totalItems]="(videos$ | async)?.length"
                       [isActiveSelection]="isActiveSelection$ | async"
                       [totalSelectedItems]="(selectedItems$ | async)?.length"></app-yt-grid-toolbar>
  <app-yt-data-grid
    (selectItem)="selectItem($event)"
    (unselectItem)="unselectItem($event)"
    [isActiveSelection]="isActiveSelection$ | async"
    [items]="videos$ | async"
    [selectedItems]="selectedItems$ | async"
  ></app-yt-data-grid>
</div>
