/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "../node_modules/@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material.scss";

.ag-cell {

  &.text-wrap {
    white-space: pre-wrap;
  }

  &.align-center {
    display: flex;
    align-items: center;
  }
}

img.yt-video-thumbnail {
  align-self: center;
  display: flex;
}
